<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPLEX</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>C.O.M.P.L.E.X </h1>
    <h2>Complicated Overengineered Measurement Project for Logging Environmental eXtremes</h2>

    {% include 'menu.html' %}


    <h2>Configuration</h2>

    <div class="form-container">
        <form method="post">

            {{ form.hidden_tag() }}

            {{ form.user_id.label }}
            <p>USER ID</p>
            {{ form.user_id() }}
            {% for error in form.user_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <hr /><br />

            {{ form.web_ip.label }}
            <p>Replace with a valid local IP</p>
            {{ form.web_ip() }}
            {% for error in form.web_ip.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.web_port.label }}
            <p>Must be valid port.. in range()</p>
            {{ form.web_port() }}
            {% for error in form.web_port.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <hr /><br />

            {{ form.mqtt_endpoint.label }}
            <p>If empty - mqtt will not be used</p>
            {{ form.mqtt_endpoint() }}
            {% for error in form.mqtt_endpoint.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.mqtt_port.label }}
            <p>valid port number. default is 1883...</p>
            {{ form.mqtt_port() }}
            {% for error in form.mqtt_port.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.mqtt_topic.label }}
            <p>DESCRIPTION</p>
            {{ form.mqtt_topic() }}
            {% for error in form.mqtt_topic.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.mqtt_path.label }}
            <p>DESCRIPTION</p>
            {{ form.mqtt_path() }}
            {% for error in form.mqtt_path.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}



            {{ form.submit() }}

        </form>
    </div>

    <div id="footer">
        © 2023 Matt (Martin) - 2005647
    </div>

</body>
</html>






