<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPLEX</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>C.O.M.P.L.E.X </h1>
    <h2>Complicated Overengineered Measurement Project for Logging Environmental eXtremes</h2>

    <div class="menu-bar">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/config">Config</a></li>
            <li><a href="#contact">TODO</a></li>
            <li><a href="#about">TODO</a></li>
        </ul>
    </div>


    <h2>Configuration</h2>

    <div class="form-container">
        <form method="post">

            {{ form.hidden_tag() }}

            {{ form.web_ip.label }}
            <p>Replace with a valid local IP</p>
            {{ form.web_ip() }}
            {% for error in form.web_ip.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.web_port.label }}
            <p>Must be valid port.. in range()</p>
            {{ form.web_port() }}
            {% for error in form.web_port.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.mqtt_broker.label }}
            <p>If empty - mqtt will not be used</p>
            {{ form.mqtt_broker() }}
            {% for error in form.mqtt_broker.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.mqtt_port.label }}
            <p>valid port number. default is 1883...</p>
            {{ form.mqtt_port() }}
            {% for error in form.mqtt_port.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.mqtt_topic_temperature.label }}
            <p>DESCRIPTION</p>
            {{ form.mqtt_topic_temperature() }}
            {% for error in form.mqtt_topic_temperature.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.mqtt_topic_humidity.label }}
            <p>DESCRIPTION</p>
            {{ form.mqtt_topic_humidity() }}
            {% for error in form.mqtt_topic_humidity.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.mqtt_topic_uptime.label }}
            <p>DESCRIPTION</p>
            {{ form.mqtt_topic_uptime() }}
            {% for error in form.mqtt_topic_uptime.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.submit() }}

        </form>
    </div>

    <div id="footer">
        © 2023 Matt (Martin) - 2005647
    </div>

</body>
</html>






